<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library management</title>
</head>
<body>
    <div >
        <div >
          <h1 >Library management System</h1>
          <p >A Library Management System in Django runs Django Framework in back-end and HTML, CSS in front-end. The project contains all the features of library management like login, interactive UI, issue book student, manage books, Add books to the library staff.</p>
          
        </div>
        <div class="container">
      <div >
     
        <div >
          <img style="padding-left: 10px; padding-bottom: 20px;"src="https://st2.depositphotos.com/1002277/10073/i/600/depositphotos_100732302-stock-photo-word-admin-on-wood-planks.jpg" width="20%" height="50%" alt="" ><br><br>
            <a  style="text-align:center" href="login_page.html">Admin</a>
        </div>
     
        <div >
          <img style="padding-right: 20px; padding-bottom:20px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc7ZIHfPTIXGBgil22j80qHIFyMFleSO1tOw&usqp=CAU" width="20%" height="50%" alt="" ><br><br>
          <a  href="student_login.html">Student</a>
        </div>
      </div>
      </div>
    </div>
</body>
</html>

















